@using CustomTypeExtensions
@using IzracunInvalidnostiBlazor.Models
@using System.Globalization
<label class="form-label">@Stran</label>

<InputSelect @bind-Value="SelectedValue"
             class="form-select form-select-sm deficit-selector"
             disabled="@Disabled">
    <option value="">— izberi —</option>
    @foreach (var def in MozniZaStran)
    {
        <option value="@def.IzracunaniOdstotek">
            @def.IzbiraOpis
        </option>
    }
</InputSelect>

@code {
    [Parameter] public StranLDE Stran { get; set; }
    [Parameter] public IEnumerable<MozniDeficit> MozniZaStran { get; set; } = Enumerable.Empty<MozniDeficit>();
    [Parameter] public EventCallback<(StranLDE stran, decimal? val)> OnSelectionChanged { get; set; }
    [Parameter] public bool Disabled { get; set; }

    // zdaj je SelectedValue tipa decimal?
    private decimal? SelectedValue
    {
        get => MozniZaStran.FirstOrDefault(d => d.JeIzbran)?.IzracunaniOdstotek;
        set
        {
            foreach (var def in MozniZaStran)
                def.JeIzbran = def.IzracunaniOdstotek == value;

            OnSelectionChanged.InvokeAsync((Stran, value));
        }
    }
}
