@namespace IzracunInvalidnostiBlazor
@inject UserSessionState SessionState
@inject NavigationManager Nav
@inject SessionStorageService Storage

<div class="segment-box" @onclick="@(() => OnNavigate.InvokeAsync(Segment))"
     style="cursor:pointer;">
    <h4>@Segment.Opis</h4>
</div>

@code {
    [Parameter] public Segment Segment { get; set; }
    [Parameter] public EventCallback<Segment> OnNavigate { get; set; }
}