@page "/"
@namespace IzracunInvalidnostiBlazor
@using IzracunInvalidnostiBlazor.Extensions
@using IzracunInvalidnostiBlazor.Models
@using IzracunInvalidnostiBlazor.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.Extensions.Logging
@inject ILogger<Index> Logger
@inject OcenjevalniModelDBLoader ocenjevalniModelLoader
@inject ProtectedSessionStorage SessionStorage
@inject OcenjevalniModelSessionService ModelSession
@inject NavigationManager Nav

@inject OcenjevalniModelSessionService ModelStorageService


<h5>Izberi pogoj</h5>

@if ( !ocenjevalniModelLoader.IsPogojiSeznamLoaded)
{
    <p>Nalaganje pogojev...</p>
}
else
{
    <select @onchange="OnPogojChanged">
        <option value="">-- Izberi --</option>
        @foreach (var pogoj in ocenjevalniModel.PogojSeznam)
        {
            <option value="@pogoj.PogojId">@pogoj.Sifra</option>
        }
    </select>
}

@code {
    private OcenjevalniModel ocenjevalniModel;


    protected override async Task OnInitializedAsync()
    {
        await ocenjevalniModelLoader.LoadPogojSeznamFromDB();
        ocenjevalniModel = ocenjevalniModelLoader.OcenjevalniModel;
    }

    private async Task OnPogojChanged(ChangeEventArgs e)
    {
        string izbranPogojId = e.Value.ToString();

        await ocenjevalniModelLoader.LoadSegmentSeznamFromDB();
        //await ocenjevalniModel.SaveSessionToStorage(SessionStorage);
        await ocenjevalniModel.IzbranPogojSet(izbranPogojId);
        await ocenjevalniModelLoader.PreberiStopnjeDB_Sync(izbranPogojId);
        await ocenjevalniModel.SaveSessionToStorage(SessionStorage);
        //ocenjevalniModel = await ocenjevalniModel.ReadFromSessionStorage(SessionStorage);
        Nav.NavigateTo("/oceni-invalidnost");

    }



}
