@page "/oceni-invalidnost"
@using IzracunInvalidnostiBlazor.Extensions
@using IzracunInvalidnostiBlazor.Models
@using IzracunInvalidnostiBlazor.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.Extensions.Logging
@inject NavigationManager NavigationManager
@inject OcenjevalniModelLoader ocenjevalniModelLoader
@inject ProtectedSessionStorage SessionStorage
@inject ILogger<Index> Logger
@rendermode InteractiveServer


<h3>Oceni invalidnost</h3>

@if (ocenjevalniModel?.trenutniSegment == null)
{
    <p>Nalaganje podatkov...</p>
}
else
{
    
    var pot = ocenjevalniModel.GetBreadcrumbPath(ocenjevalniModel?.trenutniSegment?.SegmentId);
    //var otroci = segmenti.GetSegmentChildren(TrenutniSegment.SegmentId);
    <div class="trenutna-pot-box">
        @foreach (var korak in pot)
        {
            <span @onclick="@(() => NavigirajNaSegment(korak))"
                  style="cursor:pointer; text-decoration:underline;"
                  @key="korak.SegmentId">
                @korak.Opis
            </span>
            @if (!ReferenceEquals(korak, pot.Last()))
            {
                <span> &gt; </span>
            }
        }
    </div>
    
    
    @if (ocenjevalniModel?.AtributiZaPrikaz?.Count > 0)
    {
        <OcenjevalniAtribut Segment="ocenjevalniModel?.trenutniSegment"
                            Atributi="ocenjevalniModel.AtributiZaPrikaz"
                            @key="ocenjevalniModel?.trenutniSegment?.SegmentId" />
    }
    
    @foreach (var podsegment in ocenjevalniModel?.SegmentiZaPrikaz)
    {
        <DelTelesa Segment="podsegment"  OnNavigate="NavigirajNaSegment"  @key="podsegment.SegmentId" />
    }
    
}

@code {
    private bool _initialized = false;
    private Segment? TrenutniSegment;

    private OcenjevalniModel ocenjevalniModel;



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_initialized)
        {
            //ocenjevalniModel = await ModelStorageService.GetAsync();
            ocenjevalniModel = new OcenjevalniModel();
            await ocenjevalniModel.ReadFromSessionStorage(SessionStorage);

            /*
            if (ocenjevalniModel.PogojSeznam == null || !ocenjevalniModel.PogojSeznam.Any())
            {
                // prvič naložimo iz baze
                ocenjevalniModel = await ModelStorageService.GetAsync();
                await ModelStorageService.SaveAsync(ocenjevalniModel);
            }
            */
            //if (!int.TryParse(pogojIdStr, out var pogojId))
            {
                NavigationManager.NavigateTo("/");
                return;
            }
            StateHasChanged();
        }
    }

    private async Task NavigirajNaSegment(Segment segment)
    {
        await ocenjevalniModelLoader.TrenutniSegmentSet(segment.SegmentId);
        var atr = ocenjevalniModel?.AtributiZaPrikaz;
        if (atr?.Count > 0)
        {
            var json = System.Text.Json.JsonSerializer.Serialize(atr);
            Logger.LogInformation("ocenjevalniModelLoader?.ocenjevalniModel?.AtributiZaPrikaz", json);
        }
        StateHasChanged();
    }

    /*
    private void FiltrirajAtribute()
    {
        atributiZaTrenutniSegment.Clear();

        if (TrenutniSegment is null || vsiAtributi.Count == 0)
            return;

        // POZOR: Tip in oblika ID-ja — poravnaj ju (trim/upper/pretvorba)
        var segId = TrenutniSegment.SegmentId?.ToString()?.Trim();

        atributiZaTrenutniSegment = vsiAtributi
            .Where(a => string.Equals(
                a.SegmentId?.ToString()?.Trim(),
                segId,
                StringComparison.OrdinalIgnoreCase))
            .OrderBy(a => a.AtributId)
            .ToList();
    }
    */

}
